@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&family=Stalinist+One&display=swap');

header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1500px;
    height: 16em;
}

header  h1 {
    font-family: 'Stalinist One', cursive;
    font-size: 550%;
    margin-bottom: 0.8em;
}

.color1{
    color: #4f4f4f;
}

.color2{
    color: #FF0000;
}

header > img{
    width: 18em;
    height: 18em;
    margin-left: -3em;
}

nav{
    display: flex;
    width: 60em;
    height: 3em;
    justify-content: space-around;
}

nav ul{
    display: flex;
    width: 380px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8em;
    flex-direction: row;
    flex-wrap: nowrap;  
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    
}

nav ul > li > a{
    display: block;
    text-decoration: none;
    color: black;

    transition: border 0.2s;
}

nav ul > li > a:hover{
    border-style: solid;
    border-color: #000;
    border-width: 0px 0px 2px 0px;
}


header .input-search
{
    display: flex;
    
    border: solid 2px #fff;
    border-radius: 7px;

    height: 34px;

    transition: border 0.8s;

}



header input{
    text-align: left;
    
    font-size: 15px;
    width: 300px;
    height: 30px;
    padding: 0 2px;

    border: 2px solid #fff;
    border-radius: 0px 7px 7px 0px ;
}
.search{
    display: flex;
    justify-content: center;

    border-radius: 5px 0px 0px 5px ;
    background-color: #fff;
    width: 30px;
    height: 30px;
}

.search svg{
    width: 20px;
    height: 27px;
    color: #878787;
}

header .input-search:focus-within{
    border: 2px solid #9c9c9c; 
}

